*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #101820;
    display: flex;
    flex-direction: row;
}
#text{
    height: 100vh;
    font-size: 100px;
    margin-top: 0vw;
    font-family: Graphik Semibold;
    align-items: cemtre;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20vh;
    width: 50%;
    content-visibility: unset;
}
#text p{
    font-size: 25vh;
    margin-top: 0vw;
    font-family: Graphik Semibold;
    margin-left: 20vh;
}
#text a:first{
    color: #EA0F1E;
}
#text a{
    text-decoration: none;
    color: #FEE715;
    margin-right: 20px;
}

#text a:hover
{
    margin-left: 5vh;
    transition-duration: 0.75s;
    color: rgb(255, 255, 255);
}

#image{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img
{
    width: 100%;
    height: 100%;
    position: relative;
    top: 5vh;
}

@media screen and (max-width: 900px)
{

    a
    {
        font-size: 15vh;
    }

    #text
    {
        line-height: 13vh;
    }

    img 
    {
        height: 60vw;
        width: 75vw;
    }
}

@media screen and (max-width: 768px)
{
    #image
    {
        display: none;
    }

    #text 
    {
        width: 100%;
        align-items: center;
        line-height: 13vh;
    }

    #text p
    {
        margin-left: 0;
    }

}